<div class="container fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent text-uppercase font-weight-bold" id="navbar">
        <a class="navbar-brand" href="#">
            <img src="<%= asset_path('logo-utopian.png') %>"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="//utopian.io/moderators" target="_blank">Moderators</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="//utopian.io/sponsors" target="_blank">Sponsors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="//steemit.com/@utopian-io" target="_blank">Blog</a>
                </li>
            </ul>
        </div>

        <a href="https://steemit.com/pick_account" class="btn btn-primary mr-3 font-weight-bold" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            Sign Up
        </a>
        <a href="https://v2.steemconnect.com/oauth2/authorize?client_id=utopian.app&redirect_uri=https%3A%2F%2Futopian.io%2Fcallback&scope=" class="btn btn-primary font-weight-bold" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            Log In
        </a>
    </nav>
</div>